@import 'index.css';
.background{
  position: absolute;
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  top: 0%;
  left: 0%;
}

.backgroundCredit{
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--primary_light);
  font-size: 9px;
  padding: 3px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-width: 4px;
  border-color: var(--primary);
  border-style: solid;
  border-radius: 2em;
  width: 80%;

}

.header{
  position:sticky;
  top: 0;
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--primary);
  margin-bottom: 40px;
  overflow: hidden;
}

.headerNav{
  display: flex;
  list-style-type: none;
  flex: 1;
}

.headerNavItem{
  padding: 20px;
  border-left: var(--primary_light) 2px solid;
  border-bottom: none;
  
}

.headerNavItem:last-child{
  border-right: var(--primary_light) 2px solid;
}

.headerNavItemLink{
  color: var(--text_light);
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--primary_dark);
  font-size: 1.25em ;
}

.logoName{
  margin-left: 20px;
  color: var(--text_light);
  text-shadow: 4px 2px 2px var(--primary_dark);
  font-size: 3em;

}