:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* colors */
    --primary: #EFC9D1;
    --primary_light: #FFEDF1;
    --primary_dark: #D89AA7;
    --secondary: #EBCEEF;
    --secondary_light: #F9EEFE;
    --secondary_dark: #D59EDD;
    --tertiary: #C9E6F4;
    --tertiary_light: #ECF8FF;
    --tertiary_dark: #7BC2E4;
    --text_light: #FDFBFD;

}

body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y:hidden; 
    display: flex;
    flex-direction: column;
}